body {
	margin: 0;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
	background-color: #facdda;
}

.cover {
	background-image: url('../../img/aboutus/banner.jpg');
	background-repeat: no-repeat;
	height: 350px;
	background-size: cover;
}
.image{
	margin: 50px 0px 50px 50px;
	width: 45%;
	height: auto;
}
.image img{
	width: 100%;
}
.content1 {
	width: 100%;
	margin-bottom: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.description {
	margin: 50px 50px 50px 0px;
	width: 45%;
}